@{
    Layout = "_ZjcLayout";
    ViewData["Title"] = "政教处";
}

<div class="layui-container">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>文件审核</legend>
    </fieldset>
    <div class="layui-row">
        物资申请表
        <div class="demoTable">
            搜索审核状态：
            <div class="layui-inline">
                <input class="layui-input" name="keyword" id="demoReload" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>

        <table class="layui-hide" id="materialApply" lay-filter="material"></table>

        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
        </script>
        会议申请表
        <div class="demoTable">
            搜索审核状态：
            <div class="layui-inline">
                <input class="layui-input" name="keyword" id="demoReload1" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>

        <table class="layui-hide" id="conventionApply" lay-filter="convention"></table>

    </div>
</div>

@section Scripts{
    <script src="~/layui-v2.5.5/layui/layui.js" charset="utf-8"></script>
    <script src="~/js/jquery.js"></script>
    <script>
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#materialApply'
                , url: '/Api/QueryAllMaterialApply'
                , cols: [[
                    { field: 'id', title: '教师工号', width: "15%", sort: true, fixed: true }
                    , { field: 'teacherName', title: '姓名', width: "10%" }
                    , { field: 'goodsName', title: '性别', width: "10%" }
                    , { field: 'goodsNum', title: '职称', width: "10%" }
                    , { field: 'goodsPrice', title: '入职年份', width: "20%", sort: true }
                    , { field: 'remarks', title: '联系方式', width: "20%" }
                    , { field: 'sectionName', title: '所属部门名称', width: "1%" }
                    , { field: 'state', title: '所属部门名称', width: "1%" }
                ]]
                , page: true
            });
        });

    </script>
}