@{
    Layout = "_ZjcLayout";
    ViewData["Title"] = "政教处";
}
<div class="layui-container">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>信息公示</legend>
    </fieldset>

    <div class="layui-row">
        <div class="grid-demo grid-demo-bg1">
            教务处主管学校本科教学工作的职能部门。主要负责本科人才培养、教育教学改革、专业设置调整、人才培养方案制订、教学质量监控、教学奖项评选、教学组织及运行等方面工作。教务处现设教务科、教学研究科、教学信息管理科、实践教学科、学生交流事务科、草堂校区教务工作办公室、教学质量监控与专业评估（认证）中心等

        </div>

    </div>
</div>
