<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Traveling HTML5 Template" />
    <meta name="author" content="Design Hooks" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="~/layui-v2.5.5/layui/css/layui.css" media="all">
    <title>@ViewData["Title"] - SchoolOA</title>
</head>
<body class="home" id="page">
    <div class="content-box">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)

</body>
</html>
